*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
body{
    color: #ededed;
    background: #081b29;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-bottom: 500px;
}
.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(0.2*var(--i));
}
.navbar a:hover{
    color: #0ef;
}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-container{
    max-width: 600px;
}
.home-container h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.7s;
}
span{
    color: #0ef;
}
.home-container h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-container p{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(0.2s*var(--i)); 
    margin: 30px 15px 30px 0;
}
.home-sci a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box{
    display: inline-block;
    padding: 12px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef;
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.about img{
    padding: 0 10%;
    padding-top: 69px;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}
.heading{
    font-size: 50px;
    text-align: center;
}
.about-txt h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 10px;
}
.about-txt p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 3rem;
}
.education{
    display: flex;
    flex-direction: column;
    min-height: auto;
    padding-top: 69px;
}
.education-row{
    margin-left: 40px;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.education-column{
    flex: 1 1 40rem;
}
.education-column .title{
    font-size: 1.5rem;
    margin: 10px 0 1.2rem 1.7rem;
}
.education-box{
    border-left: 0.2rem solid #0ef;
}
.education-content{
    position: relative;
    padding-left: 2rem;
}
.education-content .content{
    position: relative;
    padding: 1.2rem;
    border: 0.2rem solid #0ef;
    border-radius: 0.6rem;
    margin-bottom: 2rem;
}
.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #112e42;
    z-index: -1;
    transition: 0.5s;
}
.education-content .content:hover::before{
    width: 100%;
}
.education-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -0.7rem;
    width: 1.2rem;
    height: 1.2rem;
    background-color: #0ef;
    border-radius: 50%;

}
.year{
    font-size: 1rem;
    color: #0ef;
    padding-bottom: 0.5rem;
}
.education-content .content .year i{
    padding-right: 0.2rem;
}
.education-content .content h3{
    font-size: 1.2rem;
}
.education-content .content p{
    font-size: 1rem;
    padding-top: 0.5rem;
}
.skills{
    min-height: auto;
    padding-bottom: 7rem;
    background: #081b29;
    padding-top: 69px;
}
.skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin: 40px 40px;
}
.skills-column{
    flex: 1 1 35rem;
}
.skills-column .title{
    font-size: 1.8rem;
    margin: 0 0 1.5rem;
}
.skills-content{
    position: relative;
    border: 0.2rem solid #0ef;
    border-radius: 0.6rem;
    padding: 0.5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}
.skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #112e42;
    z-index: -1;
    transition: 0.5s;
}
.skills-content:hover::before{
    width: 100%;
}
.skills-content .progress{
    padding: 1rem 0;
}
.skills-content .progress h3{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.skills-content .progress h3 span{
    color: #ededed;
}
.skills-content .progress .bar{
    height: 2.5rem;
    border-radius: 0.6rem;
    border: 0.2rem solid #0ef;
    padding: 0.5rem;
    margin: 1rem 0;
}
.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: 0.3rem;
    background: #0ef;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 85%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 95%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width: 80%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 90%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width: 80%;
}


@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 1;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 1;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 1;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 1;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}